body {
    background-color:white;   
  }
  hr{
      background-color: #6600ff;
      height: 0px;
      width: auto;
      border-style: dotted;
      border-color: brown;
      border-width: 5%;
  }
  h1{
      color: #0066ff;
      font-family: Arial, Helvetica, sans-serif;
  }
  h2{
    color: #0066ff;
    font-family: Arial, Helvetica, sans-serif;
}